{{define "base"}}
    <!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pastries A GOGO</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../static/images/pastriesAGOGOLogo.png">
        <script src="components/logo.js"></script>
        <script src="components/footer.js"></script>
        <link rel="stylesheet" href="style.css">
        <style>
            .nav-item{
                font-family: 'Roboto Slab', serif;
                font-size: 2.5vh;
            }
            .active{
                background-color:#3485b3;
                border-radius:1vh;
            }
            .nav-link{
                color:black;
            }
            a:hover{
                color:#F69D9A;
            }
        </style>        
    </head>
    <body>

        <ul class="nav nav-pills fixed-top border" style="background-color: #98cdeb; padding-left: 1vw; padding: 1vh;">
            <li class="nav-item ${((filename==="index.html") ? `active` : '')}">
                <a class="nav-link" href="index.html" >Home</a>
            </li>
            <li class="nav-item ${((filename==="about.html") ? `active` : '')}">
                <a class="nav-link" href="about.html" >About us</a>
            </li>
            <li class="nav-item ${((filename==="menu.html") ? `active` : '')}">
                <a class="nav-link" href="menu.html">Menu</a>
            </li>
            <li class="nav-item ${((filename==="bakery.html") ? `active` : '')}">
                <a class="nav-link" href="#">Bakery</a>
            </li>
            <li class="nav-item ${((filename==="catering.html") ? `active` : '')}">
                <a class="nav-link" href="#">Catering</a>
            </li>
            <li class="nav-item ${((filename==="contact.html") ? `active` : '')}">
            <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
        </body>
{{end}}